/* h1{
  color: rgb(255, 0, 43);
  border: 5px solid paleturquoise;
  border-radius: 13ex;
  text-align: center;
  letter-spacing: 2px;
  line-height: 50px;
  background-color: aqua;
  width: 80%;
  height: 7vh ;
  opacity: 1;
  padding: 20px 30px 20px 30px;
  
}
body{
  background-color: rgb(116, 244, 12);
  background: url('./WhatsApp\ Image\ 2026-02-25\ at\ 12.27.25\ PM.jpeg') ;
  background-size: auto;
}
.App{
  border: 5px solid blue;
}
h2{
  border: 3px solid rgb(249, 125, 10);
  border-radius: 50px;
  padding: 20px 30px 20px 30px;
  margin: px;
  font-family: cursive;
  color: rgb(29, 252, 67);
  text-align: center;
   font-size: 40px;
  font-weight: 500;
  line-height: 50px;


}
h1{
  border: solid rgb(230, 20, 132);
  font-size: 40px;
  font-weight: 500;
  font-family: serif;
}
.App{
  display: flex;
  flex-direction: row;
}
h3{
border: 5px solid chartreuse;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 13rex;
letter-spacing: 3px;
text-align: center;
}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.divOne {
background-color: aqua;
}
.divTow{
  background-color: brown;
}
.divThree{
  background-color: chartreuse;
  grid-column: span 2;
} */
